body{
    background-color: #F2F2F2;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    margin: 0;
    text-align: center;
}
button{
    background-color: #E84D3C ;
    border: 3px solid #E84D3C;
    color: #000000;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
}
.content-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center; 
    gap: 50px;
}
.node-container{
    display: flex;
    align-items: center;
}
.button-container{
    display: flex;
    gap: 50px;
}
.node
{
    width: 25px;
    height: 25px;
    background-color: white ;
    border-radius: 50%;
    border: 0.2rem solid #D8D8D8;
}
.progress-bar{
    width: 50px;
    height: 5px;
    background-color: #D8D8D8;
    align-items: center;
}
.progress-bar-reached{
    width: 50px;
    height: 5px;
    background-color: #71C7B2;
    align-items: center;
    transition: background 0.5s;

}

.node-reached{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    border: 0.2rem solid #71C7B2;
}